<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


<context:component-scan base-package="com.ohgiraffers">
    <context:include-filter type="assignable" expression="com.ohgiraffers.section02.javaconfig.ContextConfiguration"/>
<!--  context:include-filter expression에 있는걸 빈에서 제거하겠다는 필터이다  -->

</context:component-scan>
</beans>