<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="carpBread" class="com.ohgiraffers.common.Bread">
        <constructor-arg value="붕어빵"/>
        <constructor-arg value="1000"/>
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
    </bean>

    <bean id="milk" class ="com.ohgiraffers.common.Beverage">
        <constructor-arg value="딸기우유"/>
        <constructor-arg value="1500"/>
        <constructor-arg value="500"/>
    </bean>

    <bean id="water" class ="com.ohgiraffers.common.Beverage">
        <constructor-arg value="지리산암반수"/>
        <constructor-arg value="1000"/>
        <constructor-arg value="500"/>
    </bean>

    <bean id="cart" class="com.ohgiraffers.common.ShoppingCart" scope="prototype">
    </bean>

    <!-- Owner Bean 정의 (init 및 destroy 메소드 포함) -->
    <bean id="owner" class="com.ohgiraffers.section03.Owner" init-method="openShop" destroy-method="closeShop">
    </bean>


</beans>